.Cursor {
    container-name: Cursor;
    pointer-events: none;
}

@container style(--cursor: true) {
    .Cursor::before {
        content: '';
        display: block;
        background: #00ffffaa;
        background: color-mix(in srgb, var(--cursor-color), transparent 30%);
        height: calc(var(--cursor-size) / 2 * 0.05cqw);
        width: calc(var(--cursor-size) / 2 * 0.05cqw);
        box-shadow: 0 0 calc(var(--cursor-size) / 1 * 0.05cqw) calc(var(--cursor-size) / 2 * 0.05cqw)
            color-mix(in srgb, var(--cursor-color), transparent 30%);
        border-radius: 50%;
        position: absolute;
        left: var(--cursor-x);
        top: var(--cursor-y);
        transform: translate(-50%, -50%);
    }
}
